In [ ]:
# creating numpy/n-d arrays 
# first wee need to import library

In [2]:
import numpy as np

In [8]:
arr1 = np.array([1,2,3,4,5])
arr1

array([1, 2, 3, 4, 5])

In [9]:
print(arr1)

[1 2 3 4 5]

In [11]:
type(arr1)

numpy.ndarray

In [ ]:
# 2 dimentional array

In [13]:

arr2 = np.array([[1,2,3], [4,5,6]])
arr2

array([[1, 2, 3],
       [4, 5, 6]])

In [14]:
print(arr2)

[[1 2 3]
 [4 5 6]]

In [15]:
type(arr2)

numpy.ndarray

In [ ]:
# initializing a zero matric
# .zeros( (x,y) ); x = row; y = col
# by default the matric elements data type is floating point

In [18]:
arr3 = np.zeros((2,3))
arr3

array([[0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
# initializing a ones matric

In [23]:
arr4 = np.ones((3,2))
arr4

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [24]:
print(arr4)

[[1. 1.]
 [1. 1.]
 [1. 1.]]

In [ ]:
# identity matric
# all elements of that matrics is zero 
# except the diagonal elements is 1

In [26]:
arr5 = np.identity(5)
arr5

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
# .arange(n) or .arange(m,n) or .arange(m,n,o)
# create a list for a certain range
# m = lower range
# n = upper range
# o = skip
# output will show: < n

In [29]:
arr6 = np.arange(10)
arr6

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
arr6_2 = np.arange(5,20)
arr6_2

array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [34]:
type(arr6_2)

numpy.ndarray

In [36]:
arr6_3 = np.arange(2,20,2);
arr6_3

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
# .linspace(n,m,o)
# n = lower level
# m = upper level
# o = number of outcomes: means how many linerspaced number we want 
# the immediate below example we find 10 linearly spaced number
# linearly spaced mean: 
# |10.0 - 11.11111111| = 1.11111111
# |11.11111111 - 12.22222222| = 1.11111111

In [38]:
arr7 = np.linspace(10,20,10)
arr7

array([10.        , 11.11111111, 12.22222222, 13.33333333, 14.44444444,
       15.55555556, 16.66666667, 17.77777778, 18.88888889, 20.        ])

In [42]:
arr7_2 = np.linspace(12,31,50)
arr7_2

array([12.        , 12.3877551 , 12.7755102 , 13.16326531, 13.55102041,
       13.93877551, 14.32653061, 14.71428571, 15.10204082, 15.48979592,
       15.87755102, 16.26530612, 16.65306122, 17.04081633, 17.42857143,
       17.81632653, 18.20408163, 18.59183673, 18.97959184, 19.36734694,
       19.75510204, 20.14285714, 20.53061224, 20.91836735, 21.30612245,
       21.69387755, 22.08163265, 22.46938776, 22.85714286, 23.24489796,
       23.63265306, 24.02040816, 24.40816327, 24.79591837, 25.18367347,
       25.57142857, 25.95918367, 26.34693878, 26.73469388, 27.12244898,
       27.51020408, 27.89795918, 28.28571429, 28.67346939, 29.06122449,
       29.44897959, 29.83673469, 30.2244898 , 30.6122449 , 31.        ])

In [43]:
# copy things
# can easily copy one matric to another

In [44]:
arr8 = np.copy(arr7_2)
arr8

array([12.        , 12.3877551 , 12.7755102 , 13.16326531, 13.55102041,
       13.93877551, 14.32653061, 14.71428571, 15.10204082, 15.48979592,
       15.87755102, 16.26530612, 16.65306122, 17.04081633, 17.42857143,
       17.81632653, 18.20408163, 18.59183673, 18.97959184, 19.36734694,
       19.75510204, 20.14285714, 20.53061224, 20.91836735, 21.30612245,
       21.69387755, 22.08163265, 22.46938776, 22.85714286, 23.24489796,
       23.63265306, 24.02040816, 24.40816327, 24.79591837, 25.18367347,
       25.57142857, 25.95918367, 26.34693878, 26.73469388, 27.12244898,
       27.51020408, 27.89795918, 28.28571429, 28.67346939, 29.06122449,
       29.44897959, 29.83673469, 30.2244898 , 30.6122449 , 31.        ])